@import url('https://fonts.googleapis.com/css?family=Abril+Fatface&display=swap');

:root {
    /* Don't use these, use primary/background */
    --dark: #2b2b2b;
    --light: #f5f5f5;
    /* You have been warned... */

    --primary: var(--light);
    --background: var(--dark);
    --display-font: 'Abril Fatface', cursive;
    --light-size: 0vw;
    --invert: 1;
}

*, *:before, *:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

html, body {
    width: 100%;
    height: 100%;
    font-size: 16px;

    background: var(--background);
}

.container {
    height: 100%;
    width: 60%;
    margin: 0 auto;
}

.main {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.main .content h1 {
    color: var(--primary);
    font-family: var(--display-font);
    font-size: 4rem;
    letter-spacing: 2px;
}

.lamp-container {
    position: relative;
    color: var(--light-color);
}

.lamp-container .light {
    position: absolute;
    top: 50%;
    left: 50%;
    width: var(--light-size);
    height: var(--light-size);
    border-radius: 50%;
    background: var(--primary);
    transform: translate(-50%, -50%);

}

.lamp-container .lamp {
    filter: invert(var(--invert));
    mix-blend-mode: difference;
}

section.two {
    height: 45rem;
    background: red;
    width: 3rem;
}
